*,
*::after,
*::before {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}


 /* Body */

body {
    counter-reset: killer;
    background-image: url("../img/Games_Duck_Hunt_Nintendo_Dendy_Nes_025749_9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: 0;
    min-height: 100%;
    position: relative;
    cursor: url("../img/curs34.png"),crosshair;
    overflow: hidden;

}

.summa {
    position: absolute;
    bottom: 25px;
    left: 50%;
    font-size: 55px;
    color: aliceblue;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 0px 10px black;
    transform: translateX(-50%);
    border: 4px solid blue;
    border-radius: 25px 25px 25px 25px;
    background: green;
}

.nav img {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 90%;
    bottom: 30px;   
}

.duck input[type="checkbox"]:checked{
    counter-increment: killer;
    
}

input[type="checkbox"]:checked + label {
    /* display: none; */
    opacity: 0;
}

.duck {
    left: -80px;
    top: 45%;
    width: 62px;
    height: 56px;
    position: relative;
    overflow: hidden;
}

input {
    position: absolute;
    left: -100px;
}

.summa::after {
    content: counter(killer);
}

label {
    cursor: url("../img/curs34.png"),crosshair;
    display: inline-block;
    width: 62px;
    height: 56px;
    background-image: url("../img/duck_hunt_bird_big2.gif");
    background-repeat: no-repeat;
}

/* Animation */

.duck1 {
    animation: fly1 18s .5s;
}

.duck2 {
    animation: fly2 18s .8s;
}

.duck3 {
    animation: fly3 18s 1s;
}

.duck4 {
    animation: fly4 12s 1.5s;
}

.duck5 {
    animation: fly5 14s 1.8s;
}

.duck6 {
    animation: fly6 16s 2s;
}

/* Keyframes */

@keyframes fly1 {
    100%{
        left: 110%;
        top: 90%;
        transform: rotate(360deg);
    }
}

@keyframes fly2 {
    100%{
        left: 110%;
        top: 50%;
    }
}

@keyframes fly3 {
    100%{
        left: 110%;
        top: 70%;
    }
}

@keyframes fly4 {
    100%{
        left: 110%;
        top: 25%;
        transform: rotate(360deg);
    }
}

@keyframes fly5 {
    100%{
        left: 110%;
        top: 15%;
    }
}

@keyframes fly6 {
    100%{
        left: 110%;
        top: 10%;
    }
}


